<% content_for :title, "New Assignment" %>

<h1 class="text-2xl font-bold mb-4">New Assignment</h1>

<%= render "form", student: @student, assignment: @assignment %>

<%= link_to "Cancel",
      student_path(@student),
      class: "px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 mt-4 inline-block" %>
